* {
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background:#FEFEFE;
}

html{
    width: 100%;
}

/*---------HEADER-------------*/

.menu_bar {
    display:none;
}
.logo{
    display: inline-block;
    width: 50%;
    background: #023859;
    float: left;
    position: relative;
}
.nav{
    display: inline-block;
    width: 50%;
    float: left;
}

nav {
    background: #023859;
    z-index:1000;
    width: 100%;
    top: 0px;
    height: 60px;
}

.ul1 {
    list-style:none;
}

.l1 {
    display:inline-block;
    position: relative;
}

li:hover {
    background:#E6344A;

}

a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 20px;
}
a:hover{
    color: white;
}

span { /*iconos*/
    margin-right:10px;
}

.span1,.span2,.span3,.span4,.span5{
    height:100%;
    width:100%;
    left:0;
    position:absolute;
    top:-55px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.span1 {
    background: rgba(107, 155, 34, 1);
}

.span2{
    background:#5da5a2;
}

.span3{
    background:#f25724;
}

.span4{
    background: rgb(123, 87, 119);
}

.span5{
    background:#37a4d9;
}


.l1:hover .span1,
.l1:hover .span2,
.l1:hover .span3,
.l1:hover .span4,
.l1:hover .span5{
    top: 0;
}

.l1:hover .ul2 {
    display:block;
}

.ul2 {
    display: none;
    background: #1f6677;
    position: absolute;
    width: 100%;
    z-index:1000;
}

.l2 {
    display:block;
    position:relative;
    text-align: center;
}

.a2 {
    color: white;
    display: block;
}

.l2:hover .ul3 {
    display:block;
}

.ul3 {
    background: #3387a0;
    display: none;
    position: absolute;
    z-index:1000;
    left:100%;
    top:0px;
}

/*FORMULARIO*/

h3 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.myform-cont {
    margin-top: 30px;
}

.myform-top {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 0 0px 60px 0px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;

}

.myform-top-left {
    float: left;
    width: 100%;
    text-align: center;
}

.myform-bottom {
    padding: 0px 0px 30px 0px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;

}

.myform-bottom .mybtn {
    width: 30%;
    float: right;
    margin-top: 20px;
}

input[type="text"],
textarea,
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #ffffff;
    border: 2px solid rgba(16, 51, 87, 0.66);
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;

}

input[type="text"]:focus,
textarea:focus,
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}

button.mybtn {
    height: 50px;
    background:  #17263b;
    border: 0;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;

}

button.mybtn:hover, button.mybtn:active {
    opacity: 0.6;
    color: #fff;
}

button.mybtn:focus {
    opacity: 0.6;
    color: #fff;
    background: #5c82d5;
}

.hora, .ubi{
    float: left;
}

.iconbt{
    color: black;
    font-size: 20px;
}

.bt a{
    padding: 15px;
}

.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gu, .bt{
    padding: 0px 10px ;
}

@media screen and (max-width: 987px) {
    body {
        padding-top:80px;
    }

    .menu_bar {
        display:block;
        width:100%;
        position: fixed;
        top:0;
        background:#E6344A;
        z-index: 10000;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    .logo{
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
    }

    nav {
        width: 100%;
        height: calc(100% - 80px);
        position: fixed;

        left: -100%;
        margin: 0;
        z-index: 100;
    }

    .myform-cont{
        z-index: 10;
    }

    .myform-top{
        top: -200px;
    }

    .span1,.span2,.span3,.span4,.span5{
        height: 0px;
        width: 0px;
        left:-8px;
    }

    .l1:hover .span1,
    .l1:hover .span2,
    .l1:hover .span4,
    .l1:hover .span5{
        height: 100%;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .l1:hover .span3{
        height:33%;
        width: 100%;
        left: 0;
    }

    .l1 {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }

    .l1 a {
        display: block;
    }

    .ul2 {
        width: 100%;
        position: relative;
    }
    .l2 {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }
    .l2 a {
        display: block;
    }

    .l2:hover .ul3{
        left:0;
        display: none;
    }

    .ul3 {
        width: 100%;
        position: relative;
    }

    h3{
        font-size: 32px;
    }

    .gr1{
        height: 50px;
        margin-bottom: 37%;
    }

    .myform-bottom{
        margin: 0;
        padding-top: 0;
    }

}