body {
   font-family: 'Raleway';
    margin: 0;
    text-align: center;
    height: 100%;
}
a, a:hover, a:focus {
    text-decoration: none;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

legend {
    margin:0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
     text-align: left;
     border-bottom: 0px;
}

h2{
    margin:0px;
    font-size: 18px;
    font-weight: 350;
    line-height: 50px;
    border-bottom: 0px;
    margin-left: 15px;
}
img{
    width: 100%;
    height:auto;
}
div.row{
    margin: 0;
    text-align: center;
    padding: 0 0 0 0;
    margin-left: 20%;
}

div.container-fluid{
    padding: 0 0 0 0;
    display: table; /* Make the container element behave like a table */
    width: 100%;
}



div.my-image{
    float: left;
    width: 50%;
    height:738px;
}


div.my-image img{
    height:100%;
    opacity: 0.8;

}


label{
    display: inline-block;
    cursor: pointer;
    color: #0a0f19;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 15px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
    font-weight: 300;
}

label:hover {
    background: rgba(49, 69, 113, 0.61);
}

label:before{
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #242f4f;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label:before {
    display: none;
}

input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: rgba(86, 122, 168, 0.9);
    border-radius: 2px;
    color: #fff;
}


/* Contenidos y Formulario*/
.my-content {
    float: left;
    width: 50%;
    height:100%;;
    text-align: center;
    display: table-cell;
    background-color: rgba(255, 253, 181, 0.7);
}
.my-content .mydescription p {
    opacity: 0.8;
}
.mytitle{
    text-align: center;
}

.my-formulario{
    text-align: left;
}

.myform-bottom {
    padding: 0px 0px 30px 0px;
}
.myform-bottom .mybtn {
    width: 100%;
}

button.mybtn {
    height: 50px;
    background:  #17263b;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;

}
button.mybtn:hover, button.mybtn:active {
    opacity: 0.6;
    color: #fff;
}

button.mybtn:focus {
    opacity: 0.6;
    color: #fff;
    background: #5c82d5;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="emai"]:focus,
textarea:focus,
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}

